In [44]:
import pandas as pd

alphabet = 'abcdefghijklmnopqrstuvwxyz'
letter_pos_count = []

for letter in alphabet:
    for i in range(0, 5):
        letter_pos_count.append([letter, i, 0, 0])

In [45]:
with open('word_bank.txt') as f:
    lines = f.readlines()

all_words = []

for word in lines:
    all_words.append(word.strip('\n'))

all_five_letter_words = []

for word in all_words:
    if (len(word) == 5):
        all_five_letter_words.append(word)

five_letter_words_no_dup_letters = []
for word in all_five_letter_words:
    duplicate_found = False
    for i in range(0, 4):
        if (word[(i + 1):].count(word[i]) > 0):
            duplicate_found = True
    if duplicate_found == False:
        five_letter_words_no_dup_letters.append(word)

# print(five_letter_words_no_dup_letters)

In [46]:
for word in five_letter_words_no_dup_letters:
    for i in range(0, 5):
        for l in letter_pos_count:
            if (l[0] == word[i] and l[1] == i):
                l[2] += 1

letter_pos_df = pd.DataFrame(letter_pos_count, columns = ['Letter', 'Index of Occurrence', 'Count', 'Normalized Count'])

# Normalize "Count" column to create "Normalized Count" in df
letter_pos_df['Normalized Count'] = (letter_pos_df['Count'] - letter_pos_df['Count'].min()) / (letter_pos_df['Count'].max() - letter_pos_df['Count'].min())
letter_pos_df.head()

  Letter  Index of Occurrence  Count  Normalized Count
0      a                    0    611          0.302775
1      a                    1   1782          0.883053
2      a                    2    984          0.487611
3      a                    3    952          0.471754
4      a                    4    573          0.283944

In [47]:
words_scores = []

for word in five_letter_words_no_dup_letters:
    score_raw = 0
    score_normalized = 0
    for i in range(0, 5):
        for index, row in letter_pos_df.iterrows():
            if (row['Letter'] == word[i] and row['Index of Occurrence'] == i):
                score_raw += row['Count']
                score_normalized += row['Normalized Count']
    words_scores.append([word, score_raw, score_normalized])

words_scores_df = pd.DataFrame(words_scores, columns = ['Word', 'Score', 'Normalized Score'])

In [48]:
max_word_raw = ''
max_pts_raw = 0
max_word_norm = ''
max_pts_norm = 0
for index, row in words_scores_df.iterrows():
    if (row['Score'] > max_pts_raw):
        max_word_raw = row['Word']
        max_pts_raw = row['Score']
    if (row['Normalized Score'] > max_pts_norm):
        max_word_norm = row['Word']
        max_pts_norm = row['Normalized Score']

print('max_word_raw = ' + max_word_raw)
print('max_pts_raw = ' + str(max_pts_raw))
print('max_word_norm = ' + max_word_norm)
print('max_pts_norm = ' + str(max_pts_norm))

max_word_raw = cares
max_pts_raw = 7379
max_word_norm = cares
max_pts_norm = 3.6565906838453914

In [54]:
index0_top5 = letter_pos_df[letter_pos_df['Index of Occurrence'] == 0]
index0_top5 = index0_top5.sort_values(by = ['Normalized Count'], ascending = False).head(5)
index0_top5

   Letter  Index of Occurrence  Count  Normalized Count
90      s                    0   1093          0.541625
10      c                    0    818          0.405352
5       b                    0    737          0.365213
75      p                    0    642          0.318137
0       a                    0    611          0.302775

In [55]:
index1_top5 = letter_pos_df[letter_pos_df['Index of Occurrence'] == 1]
index1_top5 = index1_top5.sort_values(by = ['Normalized Count'], ascending = False).head(5)
index1_top5

    Letter  Index of Occurrence  Count  Normalized Count
1        a                    1   1782          0.883053
71       o                    1   1495          0.740833
21       e                    1   1086          0.538157
41       i                    1   1085          0.537661
101      u                    1    961          0.476214

In [56]:
index2_top5 = letter_pos_df[letter_pos_df['Index of Occurrence'] == 2]
index2_top5 = index2_top5.sort_values(by = ['Normalized Count'], ascending = False).head(5)
index2_top5

   Letter  Index of Occurrence  Count  Normalized Count
87      r                    2   1115          0.552527
2       a                    2    984          0.487611
42      i                    2    956          0.473736
67      n                    2    825          0.408821
72      o                    2    663          0.328543

In [57]:
index3_top5 = letter_pos_df[letter_pos_df['Index of Occurrence'] == 3]
index3_top5 = index3_top5.sort_values(by = ['Normalized Count'], ascending = False).head(5)
index3_top5

   Letter  Index of Occurrence  Count  Normalized Count
23      e                    3   1646          0.815659
43      i                    3    965          0.478196
3       a                    3    952          0.471754
68      n                    3    650          0.322101
98      t                    3    622          0.308226

In [58]:
index4_top5 = letter_pos_df[letter_pos_df['Index of Occurrence'] == 4]
index4_top5 = index4_top5.sort_values(by = ['Normalized Count'], ascending = False).head(5)
index4_top5

    Letter  Index of Occurrence  Count  Normalized Count
94       s                    4   2018          1.000000
24       e                    4   1172          0.580773
124      y                    4   1047          0.518831
99       t                    4    797          0.394945
69       n                    4    616          0.305253